html  {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: rgb(246, 219, 246);
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(69, 68, 68);
    color: gray;
    font-size: 1.5rem;
    outline: none;
    padding: 10px 15px;
    width: 90%;
}

.contenedor [footer] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    padding: 2rem;
    color: rgb(69, 68, 68);
    text-align: center;
    text-transform: capitalize;
}
h2 {
    font-size: 2rem;
    color: rgb(69, 68, 68);
}

h3, h4 {
    font-size: 2.2rem;
    margin-bottom: 5px;
    color: rgb(69, 68, 68);
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}
.card img {
    margin-top: 1.5rem;
    max-width: 250px;
    height: 300px;
}

.card p {
    background-color: white;
    color: rgb(69, 68, 68);
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
    text-transform: uppercase;
}
.footer {
    background-color: rgb(69, 68, 68);
    color: rgb(246, 219, 246);
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: auto;
    width: 100%;
}

